
/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #B50014;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

@media only screen and (max-width: 1700px) {
    .navigation-manual{
        margin-top: -240px;
    }
}

@media only screen and (max-width: 1300px) {
    .navigation-manual{
        margin-top: -340px;
    }
}

@media only screen and (max-width: 920px) {
    .navigation-manual{
        display: none;
    }
}